<%= render 'shared/page_title', title:"Sign up for the application" %>
<%= render 'shared/errors', obj: @chef %>

<div class="row">
    <div class="col-sm-12">
        <%= form_for(@chef, :html => {class: "form-horizontal", role: "form"}) do |f| %>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <%= f.label :chefname, "Username" %>
                </div>
                <div class="col-sm-8">
                    <%= f.text_field :chefname, class: "form-control", placeholder: "Name Your name", autofocus: true %>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <%= f.label :email %>
                </div>
                <div class="col-sm-8">
                    <%= f.email_field :email, class: "form-control", placeholder: "Enter Your Email" %>
                </div>
            </div>
            
            <div class="form-group">
                <div class="control-label col-sm-2">
                    <%= f.label :password %>
                </div>
                <div class="col-sm-8">
                    <%= f.password_field :password, class: "form-control", placeholder: "Type a password" %>
                </div>
            </div>
            
             <div class="form-group">
                <div class="control-label col-sm-2">
                    <%= f.label :password_confirmation, "Confirm Password" %>
                </div>
                <div class="col-sm-8">
                    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Type password Again!" %>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <%= f.submit "Create my Account", class: "btn btn-lg btn-xlarge" %>
                </div>
            </div>

        <% end %>
        <div class="col-sm-5 col-sm-offset-4 colormatch">
            [ <%= link_to "Cancel request and return to recipes listing", recipes_path, id:"cancel_panel" %> ]
        </div>
    </div>
</div>
